/* Element communicant */

*{
padding: 0;
margin: 0;

font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #96A6CD;
    
    color: white;
}

::placeholder{
    color: white;
}

.container{
    position: fixed;
    width: 60vh;
    height: 100%;
    background-color: #96A6CD;
}
.log , .info {
    width: 325px;

    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    color: white;

    border: 0;
    border-bottom: 2px solid white;

    padding: 4px 0;

}

.info2, .validation , .info , .autour , #name , #loc , #proximiter
.profile , #view-profile {
    position: absolute;
    transform: translate(-50%);
}

.mail , #where , #who{
    position: absolute;

    top: 20vh;
    left: 30vh;
    transform: translate(-50%);
}

.pass{
    position: absolute;

    top: 30vh;
    left: 30vh;
    transform: translate(-50%);
}

.save{
    position: absolute;
    display: inline-block;
    top: 40vh;
    left: 30vh;
    transform: translate(-50%);
}

.saveme{
    font-size: 20pt;
    font-weight: 300;
    color: white;
}

.bouton{
    text-align: center;

    border-radius: 2rem;

    font-size: 35px;
    color: #96A6CD;
    text-decoration: none;

    transform: translate(-50%);
    
    background-color: white;

    width: 320px;
    height: 60px;
}

.login{

    top: 50%;
    left: 42%;
    
}
.Contain{
    text-align: center;
}

.create{
    position: absolute;

    top: 55vh;
    left: 30vh;
    transform: translate(-50%);

    font-size: 20px;
    font-weight: 300;
    color: white;
    text-decoration: none;

    padding: 1%;
    border-bottom: 2px solid white;
    
}

/* Page séléction (select.html) */

#choice , #where , #who{
    position: absolute;
    transform: translate(-50%);
    top: 20vh;
    left: 50%;

    font-size: 30px;
    color: white;
    font-weight: bold;
}

.B1 , .B2 , #or{

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-size: 25px;
}

.B1{
    top: 30%;
    
}

.B2{
    top: 60%;
    
}

#or{
    top: 50vh;

    text-transform: uppercase;
    font-weight: bold;
}

/* Page Localisation (cr-age-1.html) */

.map{
    width: 100%;
    height: 100%;
}

.A1 {
    left: 30vh;
    top: 50%;
}

.A2{
    left: 12vh;
    top: 60%;
    width: 50px;
}

.A3{
    left: 36vh;
    top: 60%;
    width: 230px;
}

.V1 , .V3 , .V4 , .V5 {
    left: 30vh;
    top: 70%;
}

/* Page liste pairrain (cr-age-2.html) */

#consigne{
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

#autour{
    font-weight: 300;
    font-size: 25px;
    text-align: center;

    top: 10%;
    
}

#ville{
    font-weight: bold;
    font-size: 40px;

    text-align: center;
    
}

.profile{
    background-color: white;
    border-radius: 2rem;
    color: black;

    width: 50vh;
    height: 15vh;

}
#name , #loc , #distance{
    left: 30vh;
}

#proximiter{
    left: 60vh;
}

#name , #loc{
    font-size: 20px;
    font-weight: bold;
}
#distance{
    font-size: 16px;
    font-weight: 300;
}
.V2{
    left: 30vh;
    top: 80%;
}

/*  */

.M1 {
    left: 30vh;
    top: 30%;
}

.I3 , .I4 , .I5::placeholder{
    text-align: center;
}


.I1 , .M2 {
    left: 30vh;
    top: 40%;
}

.I2 , .M3 {
    left: 30vh;
    top: 50%;
}

.M4 {
    left: 30vh;
    top: 60%;

}

.I3 {
    left: 13.5vh;
    top: 60%;

    width: 80px;
}

.I4 {
    left: 28vh;
    top: 60%;

    width: 80px;
}

.I5 {
    left: 44vh;
    top: 60%;

    width: 100px;
}

#view-profile{
    left: 30vh;
    top: 28%;
}

.B1{
    top: 57%;
}

.bis{
    top: 67%;

    background-color: #96A6CD;
    color: white;
}

/* calendrier pour filleul (Calender.html) */

section{
    display: block;
}

#menu{
    padding: 2em 1.5em 1.5rem 1.5em;
    background-color: rgba(255, 255, 255, 255);
    cursor: default; 
    width: 159px;  
    left: 0;  
    position: fixed; 
    border-radius: 0 60px 60px 0;
    height: 712px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

#menu .contenu  {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu .contenu nav {
display: flex;
flex-direction: column;
}

.contenu  li {
    margin:  5vh 0;
    list-style: none;
}

.wrapper{
    margin-left: 275px;
    
}

.top-list{
    padding-top: 50px;
}

.top-list .nav-links {
    background-color:#96A6CD;
    display: flex;
    top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}

ul.nav-links{
    height: 50px;
    width: 290px;
}

.nav{
    padding: 10px 1.75em;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

li.target{
    background-color: #FFFFFF;
    border-radius: 15px;
}

.target .text{
    color: #96A6CD ;
}

.validation-2{
    position: absolute;
    left: 50%;

}

/* liste calendrier */

section.calendar-list.anniversaire{
    padding: 10px 20px;
    margin: 15px 3em 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7E8CB1;
    border-radius: 22px;
}

section.calendar-list div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.calendar-list div p{
padding: 0 20px;
font-size: 26px;
font-weight: 390;
}

section.calendar-list p.jour{
   
    font-size: 26px;
    font-weight: 200;
    }

.layer{
    margin-top: 4em;
}

.ajouter{
    position: fixed;
    left: 770px;
    top: 680px;

}

section.medecin{
    padding: 10px 20px;
    margin: 15px 3em 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 22px;
}

section.medecin p{
color: #96A6CD ;
}

section.cinema{
    padding: 10px 20px;
    margin: 15px 3em 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B6BED6;
    border-radius: 22px;
}

/* input calendrier */

.inputs {
    position: absolute;
    background-color:#96A6CD ;
    left: 22%;
    top: 17%;
    width: 794px;
    height: 511px;
    border-radius: 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


}

.info2 {


    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    color: white;

    border: 0;
    border-bottom: 2px solid white;

    padding: 4px 0;
    

}

.C1{
    position: absolute;
    left: 50%;
    top: 16vh;
}

.C2{
position: absolute;
left: 50%;
top: 23vh;
}

.C3{
    position: absolute;
    left: 50%;
    top: 30vh;
}

/* switch */

input.cmn-toggle-round + label {
    padding: 2px;
    width: 52px;
    height: 23px;
    background-color:#C2C2C2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    }
    input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    content: "";
    }
    input.cmn-toggle-round + label:before {
    right: 2px;
    background-color: #C2C2C2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    }
    input.cmn-toggle-round + label:after {
    width: 24px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    /* -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    }
    input.cmn-toggle-round:checked + label:before {
    background-color: #96A6CD;
    }
    input.cmn-toggle-round:checked + label:after {
    margin-left: 27px;
    }
    .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    }
    .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    /* switch */

    div.partage{
        position: absolute;
        width: 255px;
        left: 270px;
        top: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
        ;
    }

    a.valid{
        position: absolute;
        top: 414px;
        left: 290px;
    }

    a.exit{
        position: absolute;
        top: 25px;
        left: 30px;
    }