/* Element communicant */

*{
padding: 0;
margin: 0;

font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #96A6CD;
    
    color: white;
}

::placeholder{
    color: white;
}

.container{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #96A6CD;
}
.log , .info {
    width: 325px;

    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    color: white;

    border: 0;
    border-bottom: 2px solid white;

    padding: 4px 0;

}

.info2, .validation , .info , .autour , #proximiter1 #proximiter2 #proximiter3
.profile , #view-profile {
    position: absolute;
    transform: translate(-50%);
}

.mail , #where , #who{
    position: absolute;

    top: 20vh;
    left: 30vh;
    transform: translate(-50%);
}

.pass{
    position: absolute;

    top: 30vh;
    left: 30vh;
    transform: translate(-50%);
}

.save{
    position: fixed;
    left: 50%;
    top: 10px;
    
    transform: translate(-50%);
}

.saveme{
    font-size: 22px;
    font-weight: 300;
    color: white;
}

.bouton{
    text-align: center;
    position: absolute;

    border-radius: 2rem;

    font-size: 35px;
    color: #96A6CD;
    text-decoration: none;

    transform: translate(-50%);
    
    background-color: white;

    width: 320px;
    height: 60px;
}

.login{

    top: 50%;
    left: 50%;
    
}
.Contain{
    text-align: center;
}

.create{
    position: absolute;

    top: 60%;
    left: 30vh;
    transform: translate(-50%);

    font-size: 20px;
    font-weight: 300;
    color: white;
    text-decoration: none;

    padding: 1%;
    border-bottom: 2px solid white;
    
}

/* Page séléction (select.html) */

#choice , #where , #who{
    position: absolute;
    transform: translate(-50%);
    top: 20vh;
    left: 50%;

    font-size: 30px;
    color: white;
    font-weight: bold;
}

.B1 , .B2 , #or{

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-size: 25px;
}

.B1{
    top: 30%;
    
}

.B2{
    top: 60%;
    
}

#or{
    top: 50vh;

    text-transform: uppercase;
    font-weight: bold;
}

/* Page Localisation (cr-age-1.html) */

.map{
    width: 100%;
    height: 100%;
}

.A1 {
    left: 30vh;
    top: 50%;
}

.A2{
    left: 12vh;
    top: 60%;
    width: 50px;
}

.A3{
    left: 36vh;
    top: 60%;
    width: 230px;
}

.V1 , .V3 , .V4 , .V5 {
    left: 30vh;
    top: 70%;
}

/* Page liste pairrain (cr-age-2.html) */

#consigne{
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

#autour{
    font-weight: 300;
    font-size: 25px;
    text-align: center;

    top: 10%;
    
}

#ville{
    font-weight: bold;
    font-size: 40px;

    text-align: center;
    padding: 0;
    
}

div.liste{
    margin-top: 10em;
}

div.profile{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    color: black;
    margin: 2em 2em;
    height: 100px;

}

.profile div{
    margin:0 10px;
}

img.photo{
    border-radius: 20px 0 0 20px;
}
#name , #loc , #distance{
    padding: 4px 0;
}

#proximiter1{
    position: absolute;
    left: 65vh;
    top: 8em;
    
}

#proximiter2{
    position: absolute;
    left: 65vh;
    top: 260px;
    
}

#proximiter3{
    position: absolute;
    left: 65vh;
    top: 390px;
}


#name , #loc{
    font-size: 20px;
    font-weight: bold;
}
#distance{
    font-size: 16px;
    font-weight: 300;
}
.V2{
    left: 40vh;
    top: 80%;
}

/*  */

.M1 {
    left: 30vh;
    top: 30%;
}

.I3 , .I4 , .I5::placeholder{
    text-align: center;
}


.I1 , .M2 {
    left: 30vh;
    top: 40%;
}

.I2 , .M3 {
    left: 30vh;
    top: 50%;
}

.M4 {
    left: 30vh;
    top: 60%;

}

.I3 {
    left: 13.5vh;
    top: 60%;

    width: 80px;
}

.I4 {
    left: 28vh;
    top: 60%;

    width: 80px;
}

.I5 {
    left: 44vh;
    top: 60%;

    width: 100px;
}

#view-profile{
    left: 30vh;
    top: 28%;
}

.B1{
    top: 57%;
}

.bis{
    top: 67%;

    background-color: #96A6CD;
    color: white;
}

/* calendrier pour filleul (Calender.html) */

section{
    display: block;
}

#menu{
    padding: 2em 1.5em 1.5rem 1.5em;
    background-color: rgba(255, 255, 255, 255);
    cursor: default; 
    width: 140px;  
    left: 0;  
    position: fixed; 
    border-radius: 0 60px 60px 0;
    height: 93%;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

#menu .contenu  {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu .contenu nav {
display: flex;
flex-direction: column;
}

.contenu  li {
    margin:  5vh 0;
    list-style: none;
}

.wrapper{
    margin-left: 261px;
    
}

.top-list{
    padding-top: 75px;
}

.top-list .nav-links {
    background-color:#96A6CD;
    display: flex;
    top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}

ul.nav-links{
    height: 50px;
    width: 290px;
}

.nav{
    padding: 10px 1.75em;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

li.target{
    background-color: #FFFFFF;
    border-radius: 15px;
}

.target .text{
    color: #96A6CD ;
}

.ajout-2{
    position: absolute;
    left: 310px;
    top: 517.5px;

}

.cal{
    position: absolute;
    margin-top: 2em;
    background-color:#96A6CD ;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    left: 260px;
    height: 558px;
}

.jour{
    padding-top: 20px;
}


th ,td{
    padding: 25px 32.5px;
}

h2{
    padding: 20px 0px 5px 0;
    padding-left: 34px;
}

.grey{
    color: rgba(255, 255, 255, 0.49);

}

.today{
    position: absolute;
    background-color: #FFFFFF;
    color: #96A6CD;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.prgrm{
    position: absolute;
    border-color: #FFFFFF;
    border: solid 2px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}



/* liste calendrier */

section.calendar-list.anniversaire{
    padding: 10px 20px;
    margin: 15px 4.8em 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7E8CB1;
    border-radius: 22px;
}

section.calendar-list div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.calendar-list div p{
padding: 0 20px;
font-size: 26px;
font-weight: 390;
}

section.calendar-list p.jour{
   
    font-size: 26px;
    font-weight: 200;
    }

.layer{
    margin-top: 4em;
}

.ajouter{
    position: fixed;
    left: 645px;
    top: 720px;

}

section.medecin{
    padding: 10px 20px;
    margin: 15px 4.8em 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 22px;
}

section.medecin p{
color: #96A6CD ;
}

section.cinema{
    padding: 10px 20px;
    margin: 15px 4.8em 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B6BED6;
    border-radius: 22px;
}

table{

    font-size: 20px;

}





/* input calendrier */

.inputs {
    position: absolute;
    background-color:#96A6CD ;
    left: 50%;
    top: 20%;

    transform: translate(-50%);

    width: 794px;
    height: 511px;
    border-radius: 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


}

.info2 {


    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    color: white;

    border: 0;
    border-bottom: 2px solid white;

    padding: 4px 0;
    

}

.C1{
    position: absolute;
    left: 50%;
    top: 16vh;
}

.C2{
position: absolute;
left: 50%;
top: 23vh;
}

.C3{
    position: absolute;
    left: 50%;
    top: 30vh;
}

/* switch */

input.cmn-toggle-round + label {
    padding: 2px;
    width: 52px;
    height: 23px;
    background-color:#C2C2C2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    }
    input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    content: "";
    }
    input.cmn-toggle-round + label:before {
    right: 2px;
    background-color: #C2C2C2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    }
    input.cmn-toggle-round + label:after {
    width: 24px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    /* -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    }
    input.cmn-toggle-round:checked + label:before {
    background-color: #96A6CD;
    }
    input.cmn-toggle-round:checked + label:after {
    margin-left: 27px;
    }
    .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    }
    .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    /* switch */

    div.partage{
        position: absolute;
        width: 255px;
        left: 270px;
        top: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
        ;
    }

    a.valid{
        position: absolute;
        top: 414px;
        left: 290px;
    }

    a.exit{
        position: absolute;
        top: 25px;
        left: 30px;
    }

    /* Messagerie version Ipad */

    .friends-list{
        position: absolute;

        right: 0;
    }

    .top{
        text-align: center;
        position: absolute;
        transform: translate(-2%);
        top: 2%;
    
    
        margin: 10px;
        font-size: 15px;
        font-weight: bold;
    
        width: 100%;
        
    }
    
    .profile-photo{
        left: 50%;
        border-radius: 50%;
    
        text-align: center;
    }
    
    
    .message {
        font-size: 21px;
        font-weight: 300;
    
        padding: 5px;
        width: 330px;
    
        position: absolute;
        
    
    }
    
    .Mes2 , .Mes4{
    
        border-radius: 12px;
        border-top-left-radius: 0px;
    
        background-color: #8491B1;
    
        text-align: left;
    
        left: 25%;
    }
    
    .Mes1 , .Mes3{
    
        border-radius: 12px;
        border-top-right-radius: 0px;
    
        background-color: #B6BED6;

        text-align: center;
    
        right: 10%;
    }
    
    .old , .robin{
        width: 325px;
        font-weight: 300;
    }
    
    .send-message{
        width: 76px;
        height: 76px;
        transform: translate(-50%);
    
        position: absolute;
        left: 21%;
    
        background-image: url(assets/images/base-profile-jeune.jpg);
        border-radius: 50%;
    
    }
    
    .SM1{
        top: 38%;
    }
    
    .SM2{
        top: 62%;
    }

    .old-send-message{
        width: 76px;
        height: 76px;
        transform: translate(-50%);
    
        position: absolute;
        right: 0px;
    
        background-image: url(assets/images/base-profile-vieux-Ipad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    
    }
    
    .SM3{
        top: 23%;
    }
    
    .SM4{
        top: 48%;
    }
    
    .Mes1{
        top: 30%;
    }
    
    .barre{
        padding: 0;
        width: 680px;
        height: 1px;
    
        top: 38%;
        left: 57%;
        transform: translate(-50%);
    
        background-color: white;
    
    }
    
    .Mes2{
        top: 45%;
        width: 240px;
    }
    
    .Mes3{
        top: 55%;
        width: 300px;
    }
    .Mes4{
        top: 70%;
    }
    
    /*write a message*/
    .writing{
        position: fixed;
    
        bottom: 5%;
        left: 55%;
        transform: translate(-50%);
    
        background-color: #CAD4EC;
        border-radius: 17px;
    
        padding: 8px;
        width: 845px;
    }
    
    .writing-bar{
        background-color: transparent;
        border-width: 0;
        padding: 2px;
        left: 3px;
        
        width: 800px;
        height: 30px;
    
        font-size: 16px;
        font-weight: 100;
    }
    #send{
        position: fixed;
    
        bottom: 25px;
        right: 15px;
    
    }

    #end-conv{
        position: absolute;

        left: 57%;
        top: 39%;
        transform: translate(-50%);

        font-weight: 100;
        font-size: 16px;
    }